---
layout: "wrapper.liquid"
---
<section class="post-section elevation1">
    <header>
        <h1>{{ title }}</h1>
        <time>{{ page.date || toUTCString }}</time>
    </header>
    <main>
        {{ content }}
    </main>
</section>
