/* About Page */
.page-about {
    /*width: 60vw;*/
    width: 60vw;
    margin: 0 auto;
    max-width: 850px;
    padding: 25px;
}

.page-about header {
    padding-bottom: 10px;

    img {
        width: 200px;
        border-radius: 50%;
        float: none;
        margin: 0 auto;

        @media screen and (min-width: 60em) {
            float: left;
            margin-left: calc(-125px);
        }
    }
}

.page-about main {
    p {
        width: 36em;
        max-width: 100%;
        text-indent: 1.5em;
        margin: 15px auto;
    }
    h2 {
        // width: 21em;
        max-width: 100%;
        margin: 15px auto;
    }
    pre {
        font-size: 0.8em;
        margin: 0 0 15px -25px;
        width: 100%;
        padding: 25px;
        max-height: 30em;
    }
    p code {
        font-size: 0.8em;
        font-weight: bold;
        padding: 0 5px;
        /*border: 1px rgba(255, 255, 255, 0.3) solid;*/
    }
    img {
        opacity: 80%;
    }
}

.page-about footer {
    width: 100%;
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        li + li:before {
            content: " | ";
            padding: 0 10px;
        }
    }

    a {
        line-height: 50px;
        font-size: 18pt;
        display: inline-block;
        width: 150px;
        text-align: center;

        :hover {
            background-color: hsl(260, 10%, 20%);
        }
    }
}