/* Front Page */
.page-front main {
    height: calc(100vh - 75px);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    position: relative;

    ::before {
        content: " ";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-image: url(/assets/outline.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.2;
    }

    h1 {
        width: 100%;
        font-size: 8vw;
        font-weight: bolder;
    }
}