/**
 * Font Sizes
 * h1 - 32pt
 * h2 - 18pt
 * Body - 14pt
 */

/* General */

body {
    font-size: 14pt;
    font-weight: lighter;
}
h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: lighter;
    font-size: 32pt;
}

/* Header */

header.site-header {
    width: 100%;
}
header.site-header ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
header.site-header ul li {
    display: inline-block;
    width: 200px;
    height: 75px;
    line-height: 75px;
    font-size: 20pt;
}
header.site-header li a {
    display: inline-block;
    width: 200px;
    text-align: center;
}

/* Posts Index */

.post-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}

article.post-card {
    height: 350px;
    flex: 0 1 calc(80% - 1em);
    position: relative;
    margin-bottom: 20px;
    display: inline-block;
    text-align: center;

    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: 100%;
}

@media screen and (min-width: 40em) {
    article.post-card {
        flex: 0 1 calc(50% - 1em);
    }
}

@media screen and (min-width: 60em) {
    article.post-card {
        flex: 0 1 calc(33% - 1em);
    }
}

.post-card-caption {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
    bottom: 0;
    left: 0;
    width: calc(100% - 10px);
    padding: 5px;
}

.post-card-title {
    font-size: 18pt;
    line-height: 30px;
    height: 60px;
    overflow: hidden;
}

.post-card-date {
    font-size: 12pt;
}

/* Post */

section.post-section {
    width: 80vw;
    margin: 0 auto;
    max-width: 1150px;
    padding: 25px;
    font-size: 18pt;
}

section.post-section header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section.post-section header h1 {
    width: 100%;
}
section.post-section header time {
    font-size: 0.8em;
}

section.post-section main {
}
section.post-section main p {
    width: 36em;
    max-width: 100%;
    text-indent: 1.5em;
    margin: 15px auto;
}
section.post-section main h2 {
    width: 21em;
    max-width: 100%;
    margin: 15px auto;
}
section.post-section main pre {
    font-size: 0.8em;
    margin: 0 0 15px -25px;
    width: 100%;
    padding: 25px;
    max-height: 30em;
}
section.post-section main p code {
    font-size: 0.8em;
    font-weight: bold;
    padding: 0 5px;
    /*border: 1px rgba(255, 255, 255, 0.3) solid;*/
}
section.post-section main img {
    opacity: 80%;
}
