@import url('https://fonts.googleapis.com/css?family=Lora|Roboto+Slab|Rokkitt&display=swap');

body {
    font-family: 'Rokkitt', serif;
    // font-family: 'Lora', serif;
    // font-family: 'Roboto Slab', serif;
    font-size: 18pt;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
}